<p>Home page</p>

<button class="“btn" btn-primary” id="“logout”" type="“submit”">signup</button>

<form class="form post-form">
  <div class="form-group">
    <label for="userPost">User post:</label>
    <input class="form-input" type="text" id="userPost" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Post</button>
  </div>
</form>
{{#each posts as |post|}}
  {{! Post Container }}
  <div class="post" data-postid={{post.id}}>
    <div class="post-content">
      <p>
        {{post.user.name}}:
        {{post.content}}
      </p>
    </div>
    {{! Comment Form }}
    <form class="form comment-form">
      <div class="form-group">
        <label for="comment-post">User Comment:</label>
        {{! Is it a problem that we'll have multiple inputs with the same id "comment-post"? }}
        <input class="form-input" type="text" id="comment-post" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">New Comment</button>
      </div>
    </form>
    {{! Render Comments}}
    {{#each comments as |comment|}}
    <div class="comment" data-commentid={{comment.id}}>
    <div class="comment-content">
      <p>
        {{comment.user.name}}:
        {{comment.content}}
      </p>
    </div>
  </div>
  {{/each}}
{{/each}}

<script src="./js/homePage.js"></script>